In [1]:
from Calculator import *

In [2]:
Add(1,2)

3

In [3]:
Add(1,2,3,4)

10

In [4]:
Division(4,2)

2.0

In [5]:
Division(3,6)

0.5

In [6]:
AND_op(45,5)

5

In [7]:
fact(6)

720

In [8]:
fibonacci(6)

8

In [9]:
print_fibo(8)

0
1
1
2
3
5
8
13

In [10]:
std_dev([1,2,3,4])

1.2909944487358056

In [11]:
comb([1,2,3],3)

(1, 2, 3)

In [22]:
comb('abcd',2)

('a', 'b')
('a', 'c')
('a', 'd')
('b', 'c')
('b', 'd')
('c', 'd')

In [12]:
permute([1,2,3,4])

(1, 2, 3, 4)
(1, 2, 4, 3)
(1, 3, 2, 4)
(1, 3, 4, 2)
(1, 4, 2, 3)
(1, 4, 3, 2)
(2, 1, 3, 4)
(2, 1, 4, 3)
(2, 3, 1, 4)
(2, 3, 4, 1)
(2, 4, 1, 3)
(2, 4, 3, 1)
(3, 1, 2, 4)
(3, 1, 4, 2)
(3, 2, 1, 4)
(3, 2, 4, 1)
(3, 4, 1, 2)
(3, 4, 2, 1)
(4, 1, 2, 3)
(4, 1, 3, 2)
(4, 2, 1, 3)
(4, 2, 3, 1)
(4, 3, 1, 2)
(4, 3, 2, 1)

In [13]:
variance([1,2,34,4])

252.25000000000003

In [14]:
create_dict('a' , 3)

{'a': 3}

In [15]:
mode([1,1,1,2,3,3,4,5,5,5,5,5,7])

5

In [16]:
median([1,2,3,4,5,6])

3.5

In [17]:
mean([1,2,3,4,5,6])

3.5

In [18]:
int_rev(1234)

4321

In [19]:
NOR_op(3,2)

False

In [20]:
permute('123')

('1', '2', '3')
('1', '3', '2')
('2', '1', '3')
('2', '3', '1')
('3', '1', '2')
('3', '2', '1')